/* Text styles */
.xr_s0 {font-family:'Arial Black';font-weight:900;font-style:normal;font-size:9.59px;text-decoration:none;color:#000000;background-color:Transparent;letter-spacing:0em;}
.xr_s1 {font-family:'Arial Black';font-weight:900;font-style:normal;font-size:7.03px;text-decoration:none;color:#000000;background-color:Transparent;letter-spacing:0em;}
